body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    
}

.heading-primary {
   font-size: 3.6rem;
}

.heading-secondary {
    font-size: 3rem;
}

.heading-tertiary {
    font-size: 2.4rem;
}

.heading-fortiary {
    font-size: 1.8rem;
} 

.paragraph {
    font-size: 1.4rem;
}